# List & its default function(1)

In [62]:
# list is mutable and allow duplicate value
lstObj=["apple", "banana", 2, 3.14324, "2kg"]
lstObj

['apple', 'banana', 2, 3.14324, '2kg']

In [63]:
lstObj.append(5)
lstObj.append("sanjay")
lstObj.append("gautam")
lstObj.append(5)

In [64]:
print(lstObj)

['apple', 'banana', 2, 3.14324, '2kg', 5, 'sanjay', 'gautam', 5]

In [65]:
lstObj.count(5)

2

In [66]:
lstObj.index(5)

5

In [67]:
# length of list
len(lstObj)

9

In [68]:
print(lstObj)
lstObj.insert(2,"orange")
print(lstObj)

['apple', 'banana', 2, 3.14324, '2kg', 5, 'sanjay', 'gautam', 5]
['apple', 'banana', 'orange', 2, 3.14324, '2kg', 5, 'sanjay', 'gautam', 5]

In [69]:
len(lstObj)

10

In [70]:
# pop from end of list
lstObj.pop()

5

In [71]:
lstObj

['apple', 'banana', 'orange', 2, 3.14324, '2kg', 5, 'sanjay', 'gautam']

In [72]:
# remove first occurrence of specefied value from list
lstObj.remove("orange")

In [73]:
lstObj

['apple', 'banana', 2, 3.14324, '2kg', 5, 'sanjay', 'gautam']

In [74]:
print(lstObj)
lstObj.reverse()
print(lstObj)

['apple', 'banana', 2, 3.14324, '2kg', 5, 'sanjay', 'gautam']
['gautam', 'sanjay', 5, '2kg', 3.14324, 2, 'banana', 'apple']

In [75]:
lstObj

['gautam', 'sanjay', 5, '2kg', 3.14324, 2, 'banana', 'apple']

In [76]:
newList=[34,2,3,1,74,333,8985]
print(newList)

[34, 2, 3, 1, 74, 333, 8985]

In [77]:
# sort function applied only on same type of value not applied on integer and string list
newList.sort()
print(newList)

[1, 2, 3, 34, 74, 333, 8985]

In [78]:
# simply lstObj referenced by newLstObj so when we apply changes in lstObj that reflected in newLstObj  
newLstObj=lstObj

In [79]:
print(lstObj)
print(newLstObj)

['gautam', 'sanjay', 5, '2kg', 3.14324, 2, 'banana', 'apple']
['gautam', 'sanjay', 5, '2kg', 3.14324, 2, 'banana', 'apple']

In [80]:
lstObj.append("Kewe")

In [81]:
print(lstObj)
print(newLstObj)

['gautam', 'sanjay', 5, '2kg', 3.14324, 2, 'banana', 'apple', 'Kewe']
['gautam', 'sanjay', 5, '2kg', 3.14324, 2, 'banana', 'apple', 'Kewe']

In [82]:
# in this way newLstObj is not referenced by lstObj that is newly created so whenever changes made in lstObj is not refelected on newLstObj1
newLstObj1=list(lstObj)

In [84]:
print(lstObj)
lstObj.append("papaya")
print(newLstObj1)

['gautam', 'sanjay', 5, '2kg', 3.14324, 2, 'banana', 'apple', 'Kewe', 'papaya']
['gautam', 'sanjay', 5, '2kg', 3.14324, 2, 'banana', 'apple', 'Kewe']

In [87]:
# copy function return copy of list
print(newList)
x=newList.copy()
print(x)

[1, 2, 3, 34, 74, 333, 8985]
[1, 2, 3, 34, 74, 333, 8985]

In [88]:
print(lstObj)
print(newList)

['gautam', 'sanjay', 5, '2kg', 3.14324, 2, 'banana', 'apple', 'Kewe', 'papaya', 'papaya']
[1, 2, 3, 34, 74, 333, 8985]

In [90]:
# newList is appended at end of lstObj 
lstObj.extend(newList)

In [91]:
print(lstObj)

['gautam', 'sanjay', 5, '2kg', 3.14324, 2, 'banana', 'apple', 'Kewe', 'papaya', 'papaya', 1, 2, 3, 34, 74, 333, 8985]

# Dictionary and it's functions(2)

In [93]:
info={"name":"sanjay gautam",
      "dob":"1 july 1999",
     "education":"be",
     "college":"sgsits"}
print(info)

{'name': 'sanjay gautam', 'dob': '1 july 1999', 'education': 'be', 'college': 'sgsits'}

In [95]:
info["college"]

'sgsits'

In [96]:
info.get("dob")

'1 july 1999'

In [98]:
info.values()

dict_values(['sanjay gautam', '1 july 1999', 'be', 'sgsits'])

In [99]:
info.keys()

dict_keys(['name', 'dob', 'education', 'college'])

In [101]:
info.pop("college")
print(info)

{'name': 'sanjay gautam', 'dob': '1 july 1999', 'education': 'be'}

In [102]:
# return tuple of each key-value pair
info.items()

dict_items([('name', 'sanjay gautam'), ('dob', '1 july 1999'), ('education', 'be')])

In [108]:
# Returns a dictionary with the specified keys and value
# default value is None if not specefied
x=("k1","k2","k3")
y="value"
newDict=dict.fromkeys(x,y)
print(newDict)

{'k1': 'value', 'k2': 'value', 'k3': 'value'}

In [109]:
# insert the key-value pair
info.update({"univercity":"RGPV"})

In [110]:
print(info)

{'name': 'sanjay gautam', 'dob': '1 july 1999', 'education': 'be', 'univercity': 'RGPV'}

In [111]:
info.clear()

In [112]:
print(info)

{}

# Sets & it's Default functions(3)

In [113]:
# unordered and unindexed and no duplicate elements
fruits={"apple","banana","mango","papaya", "mango"}
print(fruits)

{'banana', 'apple', 'papaya', 'mango'}

In [114]:
len(fruits)

4

In [115]:
# add one item at a time
fruits.add("chukandar")

In [116]:
fruits

{'apple', 'banana', 'chukandar', 'mango', 'papaya'}

In [117]:
# add multiple items at a time
fruits.update(["graps","lemon","kewe"])

In [118]:
fruits

{'apple', 'banana', 'chukandar', 'graps', 'kewe', 'lemon', 'mango', 'papaya'}

In [119]:
# remove and discard funtion remove the item but if item not exist that we want to delete remove raise the error but discard not.
fruits.remove("banana")

In [120]:
fruits

{'apple', 'chukandar', 'graps', 'kewe', 'lemon', 'mango', 'papaya'}

In [121]:
fruits.pop()

'graps'

In [122]:
# duplicate removed
set1={"a","b","c",1,3}
set2={"a",1,2,4,5,6}
set3=set1.union(set2)
print(set3)

{'a', 1, 2, 3, 4, 5, 6, 'b', 'c'}

In [124]:
set1={"a","b","c",1,3}
set2={"a",1,2,4,5,6}
set1.update(set2)

In [126]:
print(set1)

{'a', 1, 2, 3, 4, 5, 6, 'b', 'c'}

# tuple and it's function(4)

In [127]:
# ordered and immutable
tup=("my", "name","is","sanjay","gautam")
tup

('my', 'name', 'is', 'sanjay', 'gautam')

In [128]:
tup[0]

'my'

In [134]:
tup[0:3]

('my', 'name', 'is')

In [140]:
tup[-1:]

('gautam',)

In [142]:
# last index excluded and startindex included
tup[-3:-1]

('is', 'sanjay')

In [143]:
# using + operattor to concatenate tuples
tup1=("a","b")
tup2=(1,2)
tup3=tup1+tup2
print(tup3)

('a', 'b', 1, 2)

In [144]:
len(tup)

5

In [145]:
tup.index("gautam")

4

In [146]:
tup.count("sanjay")

1

In [147]:
tup.count("sanjaya")

0

In [148]:
lst=list(tup)

In [149]:
print(lst)

['my', 'name', 'is', 'sanjay', 'gautam']

In [150]:
lst.append("engineer")

In [151]:
lst

['my', 'name', 'is', 'sanjay', 'gautam', 'engineer']

In [152]:
tup=tuple(lst)

In [153]:
print(tup)

('my', 'name', 'is', 'sanjay', 'gautam', 'engineer')

# String and it's function(5)

In [154]:
string="Hello World"
print(string)

Hello World

In [155]:
print(string[0])

H

In [156]:
print(string[5]) #space

In [157]:
string[2:5]

'llo'

In [158]:
len(string)

11

In [159]:
string.lower() #immutable

'hello world'

In [160]:
string

'Hello World'

In [161]:
string.upper()

'HELLO WORLD'